name: Build remote extension host
env:
  APPNAME: vscode-reh
  PORTSDIR: ${{ github.workspace }}/ports
  NODEJS_VERSION: '22'
  PYTHON_VERSION: '311'

on:
  workflow_dispatch:

jobs:
  build-freebsd:
    strategy:
      fail-fast: false
      matrix:
        settings:
          - name: freebsd
            freebsd_arch: amd64
            vmactions_arch: x86_64
            node_arch: x64
          - name: freebsd
            freebsd_arch: aarch64
            vmactions_arch: aarch64
            node_arch: arm64
    name: Build remote extension host (${{ matrix.settings.name }} ${{ matrix.settings.freebsd_arch }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout FreeBSD ports repository
        uses: actions/checkout@v6
        with:
          repository: freebsd/freebsd-ports
          path: ports
          sparse-checkout: |
            .
            Keywords
            Mk
            Templates
            Tools
            lang/python311
            www/node22
      - name: Checkout FreeBSD-VSCode repository
        uses: actions/checkout@v6
        with:
          path: FreeBSD-VSCode
      - name: Build remote extension host (${{ matrix.settings.name }} ${{ matrix.settings.freebsd_arch }}
        uses: vmactions/freebsd-vm@v1
        with:
          envs: 'APPNAME PORTSDIR NODEJS_VERSION PYTHON_VERSION'
          usesh: true
          mem: 12288
          release: '13.5' # lowest supported release
          arch: $${{ matrix.settings.vmactions_arch }}
          run: |
            sed -i '' -e 's|/quarterly|/latest|' /etc/pkg/FreeBSD.conf

            pkg update
            pkg upgrade -Uy
            pkg install -Uy node${NODEJS_VERSION} npm-node${NODEJS_VERSION}
            pkg install -Uy jq pkgconf ripgrep python${PYTHON_VERSION} \
              typescript-go
            pkg install -Uy brotli c-ares icu llhttp libnghttp2 libnghttp3 \
              libngtcp2 simdjson libuv zstd sqlite3 krb5 libsecret
            pkg install -Uy ca_root_nss

            cd FreeBSD-VSCode/editors/vscode
            env PORTSDIR=${PORTSDIR} make -f Makefile.reh build

            mv work/${APPNAME}-${{ matrix.settings.name }}-${{ matrix.settings.node_arch }}-*.tar.gz .
            rm -rf work
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.APPNAME }}-${{ matrix.settings.name }}-${{ matrix.settings.node_arch }}
          path: FreeBSD-VSCode/editors/vscode/${{ env.APPNAME }}-${{ matrix.settings.name }}-${{ matrix.settings.node_arch }}freebsd-x64-*.tar.gz
          if-no-files-found: error

  publish:
    name: Publish remote extension host
    runs-on: ubuntu-latest
    needs: build-freebsd
    steps:
      - name: Checkout FreeBSD-VSCode repository
        uses: actions/checkout@v6
      - name: Download all artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts
      - name: Install GitHub CLI
        # https://github.com/cli/cli/blob/trunk/docs/install_linux.md#debian
        run: |
          type -p wget > /dev/null || (sudo apt update && sudo apt install -y wget)
          sudo mkdir -p -m 755 /etc/apt/keyrings
          out=$(mktemp) && wget -nv -O $out https://cli.github.com/packages/githubcli-archive-keyring.gpg
          cat $out | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null
          sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg
          sudo mkdir -p -m 755 /etc/apt/sources.list.d \
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | \
            sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
          sudo apt update
          sudo apt install -y gh
      - name: Get latest tag
        id: get_latest_tag
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag=$(gh release view --json tagName --jq .tagName)
          echo "tag=${tag}" >> ${GITHUB_OUTPUT}
      - name: Upload artifact to release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag=${{ steps.get_latest_tag.outputs.tag }}
          gh release upload ${tag} artifacts/* --clobber
