name: Build remote extension host
env:
  APPNAME: vscode-reh
  PORTSDIR: ${{ github.workspace }}/ports
  NODEJS_VERSION: '22'
  PYTHON_VERSION: '311'

on:
  workflow_dispatch:

jobs:
  build:
    name: Build remote extension host
    runs-on: ubuntu-latest
    steps:
      - name: Checkout FreeBSD ports repository
        uses: actions/checkout@v6
        with:
          repository: freebsd/freebsd-ports
          path: ports
          sparse-checkout: |
            .
            Keywords
            Mk
            Templates
            Tools
            lang/python311
            www/node22
      - name: Checkout FreeBSD-VSCode repository
        uses: actions/checkout@v6
        with:
          path: FreeBSD-VSCode
      - name: Build remote extension host (for amd64)
        uses: vmactions/freebsd-vm@v1
        with:
          envs: 'APPNAME PORTSDIR NODEJS_VERSION PYTHON_VERSION'
          usesh: true
          mem: 12288
          release: '13.5' # lowest supported release
          run: |
            sed -i '' -e 's|/quarterly|/latest|' /etc/pkg/FreeBSD.conf

            pkg update
            pkg upgrade -Uy
            pkg install -Uy node${NODEJS_VERSION} npm-node${NODEJS_VERSION}
            pkg install -Uy jq pkgconf ripgrep python${PYTHON_VERSION} \
              typescript-go
            pkg install -Uy brotli c-ares icu llhttp libnghttp2 libnghttp3 \
              libngtcp2 simdjson libuv zstd sqlite3 krb5 libsecret
            pkg install -Uy ca_root_nss

            cd FreeBSD-VSCode/editors/vscode
            env PORTSDIR=${PORTSDIR} make -f Makefile.reh build

            mv work/${APPNAME}-freebsd-x64-*.tar.gz .
            rm -rf work
      # - name: Build remote extension host (for amd64)
      #   uses: cross-platform-actions/action@v0.30.0
      #   with:
      #     operating_system: freebsd
      #     version: '13.5' # lowest supported release
      #     shell: sh
      #     environment_variables: PORTSDIR NODEJS_VERSION PYTHON_VERSION
      #     memory: 12G
      #     run: |
      #       sudo sed -i '' -e 's|/quarterly|/latest|' /etc/pkg/FreeBSD.conf

      #       sudo pkg update
      #       sudo pkg upgrade -Uy
      #       sudo pkg install -Uy node${NODEJS_VERSION} npm-node${NODEJS_VERSION}
      #       sudo pkg install -Uy jq pkgconf ripgrep python${PYTHON_VERSION} \
      #         typescript-go
      #       sudo pkg install -Uy brotli c-ares icu llhttp libnghttp2 libnghttp3 \
      #         libngtcp2 simdjson libuv zstd sqlite3 krb5 libsecret
      #       sudo pkg install -Uy ca_root_nss

      #       cd FreeBSD-VSCode/editors/vscode
      #       env PORTSDIR=${PORTSDIR} make -f Makefile.reh build
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.APPNAME }}-freebsd-x64
          path: FreeBSD-VSCode/editors/vscode/${{ env.APPNAME }}-freebsd-x64-*.tar.gz

  release:
    name: Release remote extension host
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout FreeBSD-VSCode repository
        uses: actions/checkout@v6
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: ${{ env.APPNAME }}-freebsd-x64
          path: .
      - name: Install GitHub CLI
        run: |
          type -p wget > /dev/null || (sudo apt update && sudo apt install -y wget)
          sudo mkdir -p -m 755 /etc/apt/keyrings
          out=$(mktemp) && wget -nv -O $out https://cli.github.com/packages/githubcli-archive-keyring.gpg
          cat $out | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null
          sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg
          sudo mkdir -p -m 755 /etc/apt/sources.list.d \
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | \
            sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
          sudo apt update
          sudo apt install -y gh
      - name: Get latest tag of FreeBSD-VSCode
        id: get_latest_tag
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag=$(gh release view --json tagName --jq .tagName)
          echo "tag=${tag}" >> $GITHUB_OUTPUT
      - name: Upload artifact to release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag=${{ steps.get_latest_tag.outputs.tag }}
          gh release upload ${tag} ${{ env.APPNAME }}-freebsd-x64-${tag}.tar.gz --clobber
