name: Build remote extension host
env:
  APPNAME: vscode-reh
  PORTSDIR: ${{ github.workspace }}/ports
  NODEJS_VERSION: '22'
  PYTHON_VERSION: '311'

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      build-freebsd:
        description: 'Build for FreeBSD'
        required: true
        type: boolean
        default: true
      build-linux:
        description: 'Build for Linux'
        required: true
        type: boolean
        default: true
      port_tag:
        description: 'VSCode Port Release Tag'
        type: string
      upstream_tag:
        description: 'VSCode Upstream Release Tag'
        type: string

jobs:
  build-freebsd:
    strategy:
      fail-fast: false
      matrix:
        settings:
          - name: freebsd
            freebsd_arch: amd64
            vmactions_arch: x86_64
            node_arch: x64
          # - name: freebsd
          #   freebsd_arch: aarch64
          #   vmactions_arch: aarch64
          #   node_arch: arm64
    name: Build remote extension host (${{ matrix.settings.name }} ${{ matrix.settings.freebsd_arch }})
    if: ${{ github.event_name == 'release'
            || (github.event_name == 'workflow_dispatch' && github.event.inputs.build-freebsd) }}
    runs-on: ubuntu-latest
    steps:
      - name: Decide which ref to checkout
        id: checkout_ref
        run: |
          if [ "${{ github.event_name }}"" = "workflow_dispatch" ]; then
            if [ -n "${{ inputs.port_tag }}" ]; then
              echo "port_ref=${{ inputs.port_tag }}" >> ${GITHUB_OUTPUT}
            else
              echo "port_ref=refs/heads/master" >> ${GITHUB_OUTPUT}
            fi
          else
            echo "port_ref=${{ github.event.release.tag_name }}" >> ${GITHUB_OUTPUT}
          fi
      - name: Checkout FreeBSD-VSCode repository
        uses: actions/checkout@v6
        with:
          ref: ${{ steps.checkout_ref.outputs.port_ref }}
          path: FreeBSD-VSCode
      - name: Checkout FreeBSD ports repository
        uses: actions/checkout@v6
        with:
          repository: freebsd/freebsd-ports
          path: ports
          sparse-checkout: |
            .
            Keywords
            Mk
            Templates
            Tools
            lang/python311
            www/node22
      - name: Build remote extension host
        uses: vmactions/freebsd-vm@v1
        with:
          envs: 'APPNAME PORTSDIR NODEJS_VERSION PYTHON_VERSION'
          usesh: true
          mem: 12288
          release: '13.5' # lowest supported release
          arch: ${{ matrix.settings.vmactions_arch }}
          run: |
            sed -i '' -e 's|/quarterly|/latest|' /etc/pkg/FreeBSD.conf

            pkg update
            pkg upgrade -Uy
            pkg install -Uy node${NODEJS_VERSION} npm-node${NODEJS_VERSION}
            pkg install -Uy jq pkgconf ripgrep python${PYTHON_VERSION} \
              typescript-go
            pkg install -Uy brotli c-ares icu llhttp libnghttp2 libnghttp3 \
              libngtcp2 simdjson libuv zstd sqlite3 krb5 libsecret
            pkg install -Uy ca_root_nss

            cd FreeBSD-VSCode/editors/vscode
            env PORTSDIR=${PORTSDIR} make -f Makefile.reh build

            mv work/${APPNAME}-${{ matrix.settings.name }}-${{ matrix.settings.node_arch }}-*.tar.gz .
            rm -rf work
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.APPNAME }}-${{ matrix.settings.name }}-${{ matrix.settings.node_arch }}
          path: FreeBSD-VSCode/editors/vscode/${{ env.APPNAME }}-${{ matrix.settings.name }}-${{ matrix.settings.node_arch }}-*.tar.gz
          if-no-files-found: error

  build-linux:
    strategy:
      fail-fast: false
      matrix:
        settings:
          - name: linux
            runner: ubuntu-22.04
            node_arch: x64
          - name: linux
            runner: ubuntu-22.04-arm
            node_arch: arm64
    name: Build remote extension host (${{ matrix.settings.name }} ${{ matrix.settings.node_arch }})
    if: ${{ github.event_name == 'release'
            || (github.event_name == 'workflow_dispatch' && github.event.inputs.build-linux) }}
    runs-on: ${{ matrix.settings.runner }}
    steps:
      - name: Decide which ref to checkout
        id: checkout_ref
        run: |
          if [ "${{ github.event_name }}"" = "workflow_dispatch" ]; then
            if [ -n "${{ inputs.port_tag }}" ]; then
              echo "port_ref=${{ inputs.port_tag }}" >> ${GITHUB_OUTPUT}
            else
              echo "port_ref=refs/heads/master" >> ${GITHUB_OUTPUT}
            fi
          else
            echo "port_ref=${{ github.event.release.tag_name }}" >> ${GITHUB_OUTPUT}
          fi
          if [ "${{ github.event_name }}"" = "workflow_dispatch" ]; then
            if [ -n "${{ inputs.upstream_tag }}" ]; then
              echo "upstream_ref=${{ inputs.upstream_tag }}" >> ${GITHUB_OUTPUT}
            else
              echo "upstream_ref=refs/heads/main" >> ${GITHUB_OUTPUT}
            fi
          else
            echo "upstream_ref=${{ github.event.release.tag_name }}" >> ${GITHUB_OUTPUT}
          fi
      - name: Checkout FreeBSD-VSCode repository
        uses: actions/checkout@v6
        with:
          ref: ${{ steps.checkout_ref.outputs.port_ref }}
          path: FreeBSD-VSCode
      - name: Checkout specified tag of vscode repository
        uses: actions/checkout@v6
        with:
          repository: microsoft/vscode
          ref: ${{ steps.checkout_ref.outputs.upstream_ref }}
          path: vscode
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: 'vscode/.nvmrc'
      - name: Install necessary Ubuntu packages
        run: |
          sudo apt update -y
          sudo apt install -y \
            build-essential \
            pkg-config \
            libkrb5-dev \
            libx11-dev \
            libxkbfile-dev
      - name: Apply some of FreeBSD patches to vscode repository
        run: |
          cd vscode
          for p in ${GITHUB_WORKSPACE}/FreeBSD-VSCode/editors/vscode/files/patch-*.json; do
            patch -s -p0 < $p
          done
          patch -s -p0 < ${GITHUB_WORKSPACE}/FreeBSD-VSCode/editors/vscode/files/patch-build_gulpfile.reh.js
      - name: Install necessary node modules
        run: cd vscode && npm install
      - name: Build remote extension host
        run: |
          cd vscode
          npm run gulp vscode-reh-${{ matrix.settings.name }}-${{ matrix.settings.node_arch }}-min
          cd ..
          tar -czf vscode-reh-${{ matrix.settings.name }}-${{ matrix.settings.node_arch }}-${{ github.event_name == 'workflow_dispatch'
                && github.event.inputs.tag
                || steps.get_latest_release_tag.outputs.tag }}.tar.gz \
            -C vscode-reh-${{ matrix.settings.name }}-${{ matrix.settings.node_arch }} .
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.APPNAME }}-${{ matrix.settings.name }}-${{ matrix.settings.node_arch }}
          path: ${{ env.APPNAME }}-${{ matrix.settings.name }}-${{ matrix.settings.node_arch }}-*.tar.gz
          if-no-files-found: error

  publish:
    name: Publish remote extension host
    runs-on: ubuntu-latest
    needs: [build-freebsd, build-linux]
    steps:
      - name: Checkout FreeBSD-VSCode repository
        uses: actions/checkout@v6
      - name: Download all artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts
          merge-multiple: true
      - name: Install GitHub CLI
        # https://github.com/cli/cli/blob/trunk/docs/install_linux.md#debian
        run: |
          type -p wget > /dev/null || (sudo apt update && sudo apt install -y wget)
          sudo mkdir -p -m 755 /etc/apt/keyrings
          out=$(mktemp) && wget -nv -O $out https://cli.github.com/packages/githubcli-archive-keyring.gpg
          cat $out | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null
          sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg
          sudo mkdir -p -m 755 /etc/apt/sources.list.d \
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | \
            sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
          sudo apt update
          sudo apt install -y gh
      - name: Get latest release tag
        id: get_latest_release_tag
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag=$(gh release view --json tagName --jq .tagName)
          echo "tag=${tag}" >> ${GITHUB_OUTPUT}
      - name: Publish artifact to releases
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag=${{ github.event_name == 'workflow_dispatch'
                && github.event.inputs.tag
                || steps.get_latest_release_tag.outputs.tag }}
          gh release upload ${tag} artifacts/* --clobber
